body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1440px;


}

.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, .25);
  position: relative;

  .header-logo {
    font-family: Shrikhand, cursive;
    text-align: center;
    margin: 0;
  }

  .fleche {
    position: absolute;
    left: 1.6rem;
    display: grid;
    place-items: center;
    top: 1.6rem;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    text-decoration: none;


  }
}

.menu2 {
  margin-top: -12rem;
  border-radius: 2rem 2rem 0 0;
  background-color: rgba(246, 246, 246, 1);
  position: relative;
  padding-bottom: 50px;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: rgba(246, 246, 246, 1);
  position: relative;
  padding-bottom: 50px;

  .menu-tt {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1rem;

    .heart {
      position: absolute;
      right: 5rem;


      .fa-solid {

        color: transparent;
        transform: scale(0);
        background: linear-gradient(#9356dc, #ff79da);
        transition: all 2s ease-in-out;
        background-clip: text;
      }

      i {
        position: absolute;
        font-size: 1.6rem;
      }

      &:hover .fa-solid {
        transform: scale(1.15);
      }

    }

    h2 {
      font-family: Shrikhand, cursive;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  @keyframes valider {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  .fonction1-menu {
    display: flex;
    margin: 1px;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0.6rem 0.6rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    animation: valider .5s;
    animation-fill-mode: both;

    h4 {
      margin: 0;
    }
    h5{
      margin: 0;
    }

    .prix-menu {
      display: grid;
      place-content: flex-end;
      padding: 1rem;


    }

    .valide {
      padding: 5px;
      border-radius: 100px;
      background-color: white;
      transform: rotate(180deg);
      transition-duration: 1s;
    }

    &:hover .valide {
      transform: rotate(0);

    }

    .check-menu {
      color: #99E2D0;
      cursor: pointer;
      border-radius: 0rem 1rem 1rem 0rem;
      background-color: #99e2d0;
      margin-right: -4rem;
      width: 4rem;
      height: 3.9rem;
      display: grid;
      place-items: center;
      transition: all 0.5s;
    }

    &:hover .check-menu {
      margin-right: 0;
    }

    .ajust-menu {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fonction-item-menu {
      flex: 1;
      overflow: hidden;
      padding: 0.6rem 0rem 0.6rem 0.7rem;
      white-space: nowrap;

      p,
      h3 {
        margin: 0;
      }

    }
  }

  @for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay: calc($i/10)s;
    }
  }

  .title {
    padding-left: 0.6rem;
    padding-top: 20px;
    position: relative;
    padding-bottom: 0.6rem;
    font-weight: normal;
  }

  .title::after {
    content: "";
    position: absolute;
    background-color: #99E2D0;
    width: 2.4rem;
    height: 0.25rem;
    left: 0.6rem;
    bottom: 0;
  }

  .button {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 2px 1px 8px -3px #000;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
    cursor: pointer;
    transition-duration: .25s;
    color: white;
    border-radius: 100px;


    &:hover {
      transform: scale(1.09);
      background-color: white;
    }
  }

  .command {
    display: grid;
    place-content: center;

    .commander {
      width: 150px;
      margin-top: 2rem;
    }
  }
}

.photo {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.footer {
  background-color: black;
  padding: 15px 0px 26px 25px;
  color: white;

  .space {
    padding-top: 10px;
  }
}

p {
  margin: 0;

  a {
    text-decoration: none;
    color: white;
  }
}



.menu-footer {
  font-family: "Shrikhand", serif;
  font-size: 0.6em;
}

.div2 {
  display: flex;
  align-items: center;
}

.margin-footer {
  margin: 10px 7px;
}


.padding {
  padding-top: 7px;
}

@media screen and (min-width:1025px) {

  .menu {
    margin: -4rem 5rem 0rem 5rem;
    padding: 3rem 9rem 3rem 9rem;


    span {
      padding-left: none;
      justify-content: center;

      h2 {
        padding-right: 5rem;
      }

      .heart {
        padding-right: 5rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;


    .flex {
      display: flex;
      flex-direction: row;
      padding-top: 0;

      p {
        display: flex;
        align-items: center;
        margin: 0.5rem;


      }
    }

    .text-footer {
      padding: 0rem 1.4rem 0rem 0.8rem;
    }

    .space {
      padding-top: 0px;
    }
  }


}