body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header-logo {
  font-family: Shrikhand, cursive;
  text-align: center;
}

.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.largeur {
  width: 100%;
}

.div1 {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  text-align: center;
  color: black;
  padding: 1rem;
  align-items: center;
}

.P-B {
  width: 200px;
  text-align: center;
  height: 50px;
  font-size: 1rem;
}

.pb-icon {
  font-size: 1.8rem;
  padding-left: 25px;
}

.icon-loc {
  font-size: 2rem;
}

.coloricon {
  color: 126, 126, 126, 1;
}

.container {
  padding: 2rem 1rem 4rem;
  text-align: center;
  background-color: #fafafa;
}

.button {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-size: 1.2rem;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  color: white;
  border-radius: 100px;
}

.fonction {
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}

.fonction-pad {
  padding: 2rem 1rem;
}

.degustez {
  padding-left: 5px;
}

.tel {
  padding-left: 10px;
}

.fonctionnements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border: 2px solid rgb(217, 217, 217);
  margin: 15px;
  padding: 0px 30px 0px 30px;
  border-radius: 25px;
  border: 1px solid #fafafa;
  background-color: #fafafa;
  position: relative;
}

.fonctionnements::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.fonctionnements-padding {
  padding: 10px 15px 35px 15px;
}

.icon {
  padding-right: 20px;
}

.color-foctions {
  color: gray;
}

.color-n3 {
  color: #9356dc;
}

.restaurant {
  background-color: #fafafa;
  padding: 2rem 1rem;
}

article {
  cursor: pointer;
}

.coeur-icon {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.card {
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  width: 100%;
}

.cards {
  object-fit: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card-img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.nouveau {
  background-color: #99e2d0;
  color: rgb(28, 88, 68);
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  right: 0.75rem;
}

.text-footer {
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 0.6em;
}

.footer {
  background-color: black;
  color: white;
}

.footer-card {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div2 {
  display: flex;
  align-items: center;
}

.margin-footer {
  margin: 15px;
}

.header-fleche {
  font-size: xx-large;
}

.card-imgp1 {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
